{% extends "layout.html" %}
{% block title %}New Scan{% endblock %}
{% block content %}
    <div class="card">
        <h2>Job Scam Detection</h2>
        <form action="/predict" method="post">
            <input type="url" name="job_url" placeholder="Enter job posting URL...">
            <button type="submit">Analyze URL</button>
        </form>
        <p class="or-separator">OR</p>
        <form action="/predict" method="post">
            <textarea name="job_description" rows="8" placeholder="Paste job description here..."></textarea>
            <button type="submit">Analyze Text</button>
        </form>
    </div>

    <div class="card">
        <h2>Resume Analysis & Course Suggestions</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="job_role">Select Your Desired Job Role:</label>
            <select name="job_role" id="job_role">
                {% for role in job_roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
            </select>
            <input type="file" name="resume">
            <button type="submit">Analyze Resume</button>
        </form>
    </div>
{% endblock %}
